# Arquivos temporários e de sistema
*.Rhistory
*.RData
*.Rproj.user/
.Rproj.user
*.DS_Store
Thumbs.db

# Documentos Word originais (grandes demais)
*.docx

# Quarto outputs intermediários
*_files/
.quarto/
